@import '~./../node_modules/antd/dist/antd.css';
@import '~vazir-font/dist/font-face.css';

body {
  margin: 0;
  font-family: 'Vazir', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
